.board {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  //z-index: -10;

  .contentBlock {
    display: flex;
    flex-direction: column;
    justify-content:  flex-start;
  }
}

.shortWidth {
  width: 50%;
  transition: width 0.4s ease-in-out;
}

.fullWidth {
  width: 89%;
  transition: width 0.4s ease-in-out;
}

.smallText {}

.defaultText {}


