.pageSettings {
  //position: absolute;
  //top: 35px;
  //right: 15px;
  width: 230px;
  max-height: 750px;
  padding: 4px 0;
  box-shadow: rgb(15 15 15 / 5%) 0 0 0 1px, rgb(15 15 15 / 10%) 0 3px 6px, rgb(15 15 15 / 20%) 0 9px 24px;;
  border-radius: 4px;
  overflow: auto;
  user-select:none;
  z-index: 10;
  background-color: #ffffff;
}
