.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .mainTitle {
    position: absolute;
    left: 10px;
  }

  .footer {
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 18px;

    a, span, p {
      color: #949494;
    }

    .technologiesTitle {
      margin: 0 20px;
    }
  }
}
