.actionButtons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  user-select: none;
  margin-right: 10px;

  span {
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    line-height: 17px;
    color: #37352f;
  }

  .actionButton {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 37px;
    margin: 0 2px;
    padding: 4px 0;

    img {
      width: 20px;
      height: 20px;
      opacity: 0.7;
    }
  }

  > span, .actionButton {
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: #e8e7e3;
      transition: background-color 0.2s ease-in-out;
    }

    &:active {
      background-color: #d3d3d3;
      transition: background-color 0.2s ease-in-out;
    }
  }
}
