.popup {
  position: absolute;
  top: 35px;
  right: 15px;
  width: 230px;
  min-height: 400px;
  max-height: 600px;
  border-radius: 5px;
  box-shadow: 0 4px 10px #8F8E8A;
  z-index: 10;
  overflow: auto;
  background-color: #ffffff;
}