.actionBtnBlock {
  position: relative;
  white-space: nowrap;
  margin: 0 2px;
  padding: 6px 0;
  user-select: none;
  color: rgba(55, 53, 47, 0.65);

  .actionBtn {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    height: 28px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 1.2;
    border-radius: 3px;

    span {
      color: #37352f;
    }

    &:hover {
      background-color: rgba(55, 53, 47, 0.08);
      transition: background-color 0.1s ease-out;
    }

    &:active {
      background-color: rgba(55, 53, 47, 0.16);
      transition: background-color 0.1s ease-out;
    }
  }

  .border {
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    border-bottom: 2px solid rgb(55, 53, 47);
  }
}
