.addPageBtn {
  cursor: pointer;
  position: absolute;
  right: 13px;
  top: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: none;
  background: none;

  img {
    width: 20px;
    height: 20px;
    padding: 2px;
    border-radius: 2px;
    opacity: 0.5;

    &:hover {
      background-color: #e8e7e3;
      transition: background-color 0.2s ease-out;
    }
  }
}


