.modal {
  position: absolute;
  right: -60px;
  top: -5px;
  z-index: 10;

  .switchCover {
    display: flex;
    flex-direction: column;
    min-width: 180px;
    width: 540px;
    max-height: 420px;
    border-radius: 4px;
    box-shadow: rgb(15 15 15 / 5%) 0 0 0 1px, rgb(15 15 15 / 10%) 0 3px 6px, rgb(15 15 15 / 20%) 0 9px 24px;

    .contentBlock {
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;

      .content {
        padding-bottom: 8px;
      }
    }
  }
}
