.root {
  padding: 20px;

  form {
    margin-top: 50px;

    label {
      position: relative;
      top: 10px;
      font-size: 18px;
      color: #8b8b8b;
    }

    input, div {
      padding: 10px;
      margin-top: 20px;
      border-radius: 5px;
      border: 1px solid #dfdfdf;
    }

    input {
      width: 100%;
      font-size: 22px;
      background-color: #f8f8f8;

      &:focus {
        outline: 3px solid #7bceff;
      }
    }

    div {
      cursor: pointer;
      width: 100%;
      padding: 12px;
      text-align: center;
      border: 1px solid rgba(255, 0, 0, 0.2);
      background-color: rgba(255, 0, 0, 0.03);

      &:active {
        background-color: rgba(255, 0, 0, 0.1);
        transition: background-color 80ms ease-in-out;
      }

      span {
        font-size: 20px;
        font-weight: 700;
        color: rgba(208, 0, 0, 0.6);
      }
    }
  }

  .separator {
    position: relative;
    top: 30px;
    height: 1px;
    background-color: #dedede;
  }
}