.upload {
  padding: 10px;

  .chooseBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    height: 28px;
    margin: 15px auto;
    border-radius: 3px;
    box-shadow: rgb(15 15 15 / 10%) 0 0 0 1px inset, rgb(15 15 15 / 10%) 0 1px 2px;
    user-select: none;
    background: rgb(46, 170, 220);

    &:hover {
      background: rgb(6, 156, 205);
      transition: background 0.1s ease-in;
    }

    &:active {
      background: rgb(0, 141, 190);
      transition: background 0.1s ease-in;
    }

    span {
      margin-bottom: 2px;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      color: white;
      fill: white;
    }
  }

  p {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    user-select: none;
    color: rgba(55, 53, 47, 0.65);
  }
}
