.list {
  padding: 0 5px;
  margin-top: 2px;

  .titleBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
    user-select:none;

    span {
      font-weight: 500;
    }

    .title {

      span {
        font-size: 11px;
        line-height: 120%;
        text-transform: uppercase;
        color: rgba(55, 53, 47, 0.65);
      }
    }

    .clearBtn {
      display: flex;
      justify-content: center;
      cursor: pointer;
      height: 20px;
      border-radius: 3px;
      padding: 0 4px;

      &:hover {
        background: rgba(55, 53, 47, 0.08);
        transition: background 0.1s ease-out;
      }

      &:active {
        background: rgba(55, 53, 47, 0.16);
        transition: background 0.1s ease-out;
      }

      span {
        font-size: 12px;
        line-height: 20px;
        white-space: nowrap;
        color: rgba(55, 53, 47, 0.5);
      }
    }
  }

  .item {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin: 2px 0;
    padding: 8px;
    border-radius: 3px;
    user-select: none;

    img {
      width: 17px;
      height: 17px;
      margin-left: 2px;
    }

    span {
      margin-left: 10px;
      font-size: 14px;
      line-height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: rgb(55, 53, 47);
    }

    &:hover {
      background: rgba(55, 53, 47, 0.08);
      transition: background 0.1s ease-out;
    }

    &:active {
      background: rgba(55, 53, 47, 0.16);
      transition: background 0.1s ease-out;
    }
  }

  .active {
    background: rgba(55, 53, 47, 0.08);
    transition: background 0.1s ease-out;
  }

  .page {
    span {
      font-weight: 500;
    }
  }

  .searches {
    span {
      font-weight: 400;
    }
  }
}
