.tooltip {
  position: absolute;
  top: -50px;
  left: 5px;
  display: flex;
  flex-direction: column;
  padding: 3px 5px;
  border-radius: 3px;
  background-color: #1c1c1c;

  span {
    font-size: 12px;
    margin: 1px 0;
  }

  .title {
    color: white;
    font-weight: 600;
  }

  .description {
    color: #767571;
    font-weight: 600;
  }
}
