.options {
  position: relative;
  top: 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0;
  margin-bottom: 25px;

  .pageIcon {
    position: absolute;
    top: -123px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 142px;
    border-radius: 4px;
    user-select: none;

    &:hover {
      background: rgba(55, 53, 47, 0.08);
      transition: background 0.1s ease-out;
    }
    &:active {
      background: rgba(55, 53, 47, 0.16);
      transition: background 0.1s ease-out;
    }

    img {
      width: 125px;
      height: 125px;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  .optionsBlock {
    position: relative;
    left: 7px;
    display: inline-flex;
    user-select: none;
    opacity: 0;

    &:hover {
      opacity: 1;
      transition: opacity 50ms ease-in-out;
    }

    div {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin: 0 2px;
      padding: 4px;
      border-radius: 3px;

      &:hover {
        background-color: #e8e7e3;
        transition: background-color 0.15s ease-in-out;
      }

      &:active {
        background-color: #d3d3d3;
        transition: background-color 0.15s ease-in-out;
      }

      img {
        width: 16px;
        height: 16px;
        opacity: 0.5;
        object-fit: cover;
      }

      span {
        font-size: 14px;
        font-weight: 400;
        margin: 0 5px;
        color: rgba(55, 53, 47, 0.5);
      }
    }
  }

  .pageTitle {
    margin-top:5px;
    margin-left: 7px;
    max-width: 600px;

    h1 {
      width: inherit;
      font-size: 40px;
      font-weight: bold;
      line-height: 48px;
      color: #37352f;
    }
  }
}

