@import "/src/styles/variables";

.sidebar {
  position: relative;
  width: 300px;
  max-width: 500px;
  min-width: 195px;
  min-height: 100vh; // calc(100vh - 70px);
  background-color:#f7f6f3;
  user-select: none;

  .panel {
    position: relative;
    margin-bottom: 10px;
  }
}