.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  height: 17px;
  margin-left: 15px;
  padding: 0 5px 1px 5px;

  &:hover {
    background-color: #e8e7e3;
  }

  h3 {
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    color: rgba(55, 53, 47, 0.5);
    line-height: 12px;
  }
}
