.root {
  padding: 15px 15px 5px 15px;

  .submitBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 28px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: rgb(15 15 15 / 10%) 0 0 0 1px inset, rgb(15 15 15 / 10%) 0 1px 2px;
    background: rgb(46, 170, 220);


    &:hover {
      background: rgb(6, 156, 205);
      transition: background 0.1s ease-in-out;
    }

    &:active {
      background: rgb(0, 141, 190);
      transition: background 0.1s ease-in-out;
    }

    span {
      font-size: 14px;
      font-weight: 500;
      line-height: 1.2;
      user-select: none;
      fill: white;
      color: white;
    }
  }

  p {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
    user-select: none;
    color: rgba(55, 53, 47, 0.65);
  }
}
